.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #535861;
  /* padding: 8px; */
  padding: 24px;
  background: #141414;
  max-width: 420px;
  flex: 1 400px;

  /* State/Info Focus */
  /* box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #dceeff; */
}

.card.selected {
  border: 1px solid #fff;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.details {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  padding-inline: 24px;
}

.image {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  color: #fff;
}

.content h3 {
  font-size: 1.5em;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.content > p {
  margin: 0 0 16px;
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.button {
  margin-inline: 24px;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid rgba(209, 209, 209, 0.25);

  background: #191919;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  width: calc(100% - 48px);
}

/* .button.live {
  background-color: #28a745;
  color: #fff;
}

.button.notStarted {
  background-color: #ffc107;
  color: #fff;
}

.button.startingSoon {
  background-color: #17a2b8;
  color: #fff;
} */

.button:hover {
  opacity: 0.9;
  color: #191919;
  background-color: #fff;
}

.result {
  margin-top: 16px;
  margin-inline: 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid rgba(209, 209, 209, 0.25);

  background: #191919;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  width: calc(100% - 48px);
}

.vote-number {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.winner,
.not-winner {
  color: #89ff85;

  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.not-winner {
  /* color: #e73d3d; */
  color: #535861;
}

.input {
  display: flex;
  background-color: #0b0c0f;
  margin-left: 24px;
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 12px;
  color: #fff;
  outline: 1px solid #535861;
}

.input:focus {
  outline-color: #c65ec6;
}

.input::placeholder {
  color: #535861;
}
