.img-input {
  background: #0b0c0f;
  padding: 11px 12px;
  color: #fff;
  border-radius: 8px;
  flex: 1;
}

.img-input::placeholder {
  color: #535861;
}

.row {
  display: flex;
  gap: 24px;
  align-items: center;
}

.label {
  color: #535861;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  border: 1px solid #535861;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.with-img-input {
  display: none;
}
