.wrapper {
  background: #000;
}
.admin-page {
  max-width: 1155px;
  padding-inline: 24px;
  margin-inline: auto;
  color: #fff;
  padding-top: 100px;
  min-height: 100lvh;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
}

.poll-wrapper {
  width: 100%;
  flex: 1;
}
.polls-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1155px;
  margin-inline: auto;
  padding: 24px;
}

.polls-container > h2 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.polls-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.polls-list-item {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(83, 88, 97, 0.5);

  background: rgba(255, 255, 255, 0.02);

  backdrop-filter: blur(6.150000095367432px);
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.polls-list-item > a {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.poll-status {
  --fill: #e73d3d;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--fill);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.poll-status.notStarted {
  --fill: #a1a1a1;
}
.poll-status.ended {
  --fill: #a1a1a1;
}

.poll-status > svg {
  fill: var(--fill);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left > h2 {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.left > p,
.right > p {
  color: #535861;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.left > p {
  text-align: left;
}

.right > p {
  text-align: left;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.poll-btn {
  border-radius: 8px;
  background: #f6e6f6;
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.poll-btn > p {
  background: var(
    --grd,
    linear-gradient(328deg, #c65ec6 11.74%, #7f58b7 87.19%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
